/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../scss/styles.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("fonts/" "OpenSans-Regular-webfont" ".eot");
  src: url("fonts/" "OpenSans-Regular-webfont" ".eot?#iefix") format("embedded-opentype"), url("fonts/" "OpenSans-Regular-webfont" ".woff") format("woff"), url("fonts/" "OpenSans-Regular-webfont" ".ttf") format("truetype"), url("fonts/" "OpenSans-Regular-webfont" ".svg#" "OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 96, ../scss/_base.scss */
.img-rollover.is-hovered {
  display: inline-block;
  position: relative;
}
/* line 99, ../scss/_base.scss */
.img-rollover.is-hovered .img-rollover-effect {
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(64, 64, 64, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

/* line 1, ../scss/_main.scss */
.main-header {
  background: #233A6A;
}

/* line 4, ../scss/_main.scss */
.main-header-headline {
  color: white;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 1.8;
}

/* line 13, ../scss/_main.scss */
.main-content {
  padding: 35px 0;
}

/* line 17, ../scss/_main.scss */
.main-content-article {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  margin-bottom: 50px;
}

/* line 21, ../scss/_main.scss */
.main-content-article-header {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  border-bottom: 1px solid #aaaaaa;
  color: #233A6A;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

/* line 29, ../scss/_main.scss */
.main-content-article-body {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 36, ../scss/_main.scss */
.bg-colors {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
}

/* line 39, ../scss/_main.scss */
.bg-color-block {
  width: 16.66667%;
  float: left;
  margin-right: 4.16667%;
  display: inline;
  border: 1px solid #333333;
  height: 150px;
  position: relative;
}
/* line 184, ../scss/susy/_grid.scss */
.bg-color-block:nth-child(5) {
  float: right;
  margin-right: 0;
}
/* line 46, ../scss/_main.scss */
.bg-color-block.first {
  background: #cccccc;
}
/* line 47, ../scss/_main.scss */
.bg-color-block.second {
  background: #cccccc;
}
/* line 48, ../scss/_main.scss */
.bg-color-block.third {
  background: #cccccc;
}
/* line 49, ../scss/_main.scss */
.bg-color-block.fourth {
  background: #cccccc;
}
/* line 50, ../scss/_main.scss */
.bg-color-block.fifth {
  background: #cccccc;
}
/* line 52, ../scss/_main.scss */
.bg-color-block .text-overlay {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  background: white;
  bottom: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.8;
  position: absolute;
  padding-left: 10px;
}

/* line 64, ../scss/_main.scss */
.text-colors {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
}

/* line 67, ../scss/_main.scss */
.text-color-block {
  width: 9.09091%;
  float: left;
  margin-right: 2.27273%;
  display: inline;
  border: 1px solid #333333;
  height: 100px;
  position: relative;
}
/* line 184, ../scss/susy/_grid.scss */
.text-color-block:nth-child(9) {
  float: right;
  margin-right: 0;
}
/* line 74, ../scss/_main.scss */
.text-color-block.h1 {
  background: red;
}
/* line 75, ../scss/_main.scss */
.text-color-block.h2 {
  background: red;
}
/* line 76, ../scss/_main.scss */
.text-color-block.h3 {
  background: red;
}
/* line 77, ../scss/_main.scss */
.text-color-block.h4 {
  background: red;
}
/* line 78, ../scss/_main.scss */
.text-color-block.h5 {
  background: red;
}
/* line 79, ../scss/_main.scss */
.text-color-block.h6 {
  background: red;
}
/* line 80, ../scss/_main.scss */
.text-color-block.p {
  background: red;
}
/* line 81, ../scss/_main.scss */
.text-color-block.a {
  background: red;
}
/* line 82, ../scss/_main.scss */
.text-color-block.a-hover {
  background: red;
}
/* line 84, ../scss/_main.scss */
.text-color-block .text-overlay {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  background: white;
  bottom: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.8;
  padding-left: 10px;
  position: absolute;
}

/* line 95, ../scss/_main.scss */
.typography {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  padding-left: 20px;
}

/* line 100, ../scss/_main.scss */
.typography-type {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
/* line 106, ../scss/_main.scss */
.typography-type.h1 {
  color: red;
  font-family: "OpenSans-Regular";
  font-size: 36px;
  line-height: 1.2;
}
/* line 113, ../scss/_main.scss */
.typography-type.h2 {
  color: red;
  font-family: "OpenSans-Regular";
  font-size: 30px;
  line-height: 1.2;
}
/* line 119, ../scss/_main.scss */
.typography-type.h3 {
  color: red;
  font-family: "OpenSans-Regular";
  font-size: 26px;
  line-height: 1.2;
}
/* line 125, ../scss/_main.scss */
.typography-type.h4 {
  color: red;
  font-family: "OpenSans-Regular";
  font-size: 22px;
  line-height: 1.2;
}
/* line 131, ../scss/_main.scss */
.typography-type.h5 {
  color: red;
  font-family: "OpenSans-Regular";
  font-size: 18px;
  line-height: 1.2;
}
/* line 137, ../scss/_main.scss */
.typography-type.h6 {
  color: red;
  font-family: "OpenSans-Regular";
  font-size: 14px;
  line-height: 1.2;
}
/* line 143, ../scss/_main.scss */
.typography-type.p {
  color: red;
  font-family: "OpenSans-Regular";
  font-size: 16px;
  line-height: 1.4;
}
/* line 149, ../scss/_main.scss */
.typography-type.a {
  color: red;
  font-family: "OpenSans-Regular";
  font-size: 16px;
  line-height: 1.2;
}
/* line 155, ../scss/_main.scss */
.typography-type.a-hover {
  color: red;
  font-family: "OpenSans-Regular";
  font-size: 16px;
  line-height: 1.2;
}

/* line 164, ../scss/_main.scss */
.box-shadow {
  -webkit-box-shadow: #999999 3px 3px 5px 3px;
  -moz-box-shadow: #999999 3px 3px 5px 3px;
  box-shadow: #999999 3px 3px 5px 3px;
}

/* line 170, ../scss/_main.scss */
.form-elements label {
  display: none;
}
/* line 173, ../scss/_main.scss */
.form-elements .text-field {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  background: #333333;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  color: black;
  outline: none;
  margin-top: 3px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 15px;
}
/* line 189, ../scss/_main.scss */
.form-elements .text-field.text-two {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 191, ../scss/_main.scss */
.form-elements .text-field.text-two:nth-of-type(2n+1) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 195, ../scss/_main.scss */
.form-elements .text-field.text-three {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
/* line 197, ../scss/_main.scss */
.form-elements .text-field.text-three:nth-of-type(3n+1) {
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
}
/* line 203, ../scss/_main.scss */
.form-elements textarea {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: 50.84746%;
  height: 150px;
  background: #333333;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  color: black;
  outline: none;
  margin-top: 3px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 15px;
}
/* line 220, ../scss/_main.scss */
.form-elements .radio-container {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  margin: 15px auto;
}
/* line 224, ../scss/_main.scss */
.form-elements .radio-label {
  display: inline;
  float: left;
}
/* line 228, ../scss/_main.scss */
.form-elements .radio-field {
  display: inline-block;
  float: left;
}
/* line 232, ../scss/_main.scss */
.form-elements .button-one {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: red;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  color: white;
  font-family: "OpenSans-Regular";
  font-size: 16px;
  line-height: 1.5;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
/* line 253, ../scss/_main.scss */
.form-elements .button-two {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: red;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  color: black;
  font-family: "OpenSans-Regular";
  font-size: 24px;
  line-height: 1.5;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
/* line 274, ../scss/_main.scss */
.form-elements .button-three {
  width: 49.15254%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: red;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  color: green;
  font-family: "OpenSans-Regular";
  font-size: 24px;
  line-height: 1.5;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}
/* line 294, ../scss/_main.scss */
.form-elements .button-four {
  display: none;
}
/* line 314, ../scss/_main.scss */
.form-elements .button-five {
  display: none;
}

/* line 337, ../scss/_main.scss */
.alert-box {
  width: 100%;
  float: left;
  margin-right: 25%;
  display: inline;
  margin: 20px auto;
}
/* line 341, ../scss/_main.scss */
.alert-box.warning {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #f8ffb0;
  border-color: #bdbd00;
  border-width: 1px;
  border-style: solid;
}
/* line 347, ../scss/_main.scss */
.alert-box.warning .alert-box-header {
  color: black;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: "OpenSans-Regular";
  line-height: 1.6;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/* line 358, ../scss/_main.scss */
.alert-box.warning .alert-box-copy {
  color: black;
  font-size: 16px;
  font-family: "OpenSans-Regular";
  line-height: 1.3;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/* line 371, ../scss/_main.scss */
.alert-box.error {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #ffb0b0;
  border-color: #660000;
  border-width: 1px;
  border-style: solid;
}
/* line 377, ../scss/_main.scss */
.alert-box.error .alert-box-header {
  color: black;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: "OpenSans-Regular";
  line-height: 1.6;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/* line 388, ../scss/_main.scss */
.alert-box.error .alert-box-copy {
  color: black;
  font-size: 16px;
  font-family: "OpenSans-Regular";
  line-height: 1.3;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/* line 401, ../scss/_main.scss */
.alert-box.success {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #12ff85;
  border-color: #00783a;
  border-width: 1px;
  border-style: solid;
}
/* line 407, ../scss/_main.scss */
.alert-box.success .alert-box-header {
  color: black;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: "OpenSans-Regular";
  line-height: 1.6;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 418, ../scss/_main.scss */
.alert-box.success .alert-box-copy {
  color: black;
  font-size: 16px;
  font-family: "OpenSans-Regular";
  line-height: 1.3;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 431, ../scss/_main.scss */
.alert-box.info {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #b0f2ff;
  border-color: #000066;
  border-width: 1px;
  border-style: solid;
}
/* line 437, ../scss/_main.scss */
.alert-box.info .alert-box-header {
  color: black;
  border-bottom: 1px solid black;
  font-size: 20px;
  font-family: "OpenSans-Regular";
  line-height: 1.6;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}
/* line 448, ../scss/_main.scss */
.alert-box.info .alert-box-copy {
  color: black;
  font-size: 16px;
  font-family: "OpenSans-Regular";
  line-height: 1.3;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* line 464, ../scss/_main.scss */
.main-footer {
  background: #233A6A;
}

/* line 467, ../scss/_main.scss */
.main-footer-content {
  color: white;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 8px;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 31, ../scss/styles.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
