$base-font: 'Helvetica Neue', Arial, Helvetica, sans-serif;


//*********************************************************//
// CUSTOM FONTS 
// 1 - Place you font files in the folder /fonts/
// 2 - Set a usable name in the first argument
// 3 - Set the base file name in the second argument
// 4 - Include the usable file name, in quotes, anywhere
//	   you wish to use your custom font.
//*********************************************************//
@include load-font('OpenSans-Regular', 'OpenSans-Regular-webfont');


//*************************//
// BACKGROUND COLORS       //
//*************************//
$bg-color-one:#ccc;
$bg-color-second:#ccc;
$bg-color-third:#ccc;
$bg-color-fourth:#ccc;
$bg-color-fifth:#ccc;




//*************************//
// TEXT COLORS             //
//*************************//

$text-color-h1:#f00;
$text-color-h2:#f00;
$text-color-h3:#f00;
$text-color-h4:#f00;
$text-color-h5:#f00;
$text-color-h6:#f00;
$text-color-p:#f00;
$text-color-a:#f00;
$text-color-a-hover:#f00;



$typography-h1-size:36px;
$typography-h1-font:'OpenSans-Regular';
$typography-h1-color:$text-color-h1;
$typography-h1-lineheight:1.2;

$typography-h2-size:30px;
$typography-h2-font:'OpenSans-Regular';
$typography-h2-color:$text-color-h2;
$typography-h2-lineheight:1.2;

$typography-h3-size:26px;
$typography-h3-font:'OpenSans-Regular';
$typography-h3-color:$text-color-h3;
$typography-h3-lineheight:1.2;

$typography-h4-size:22px;
$typography-h4-font:'OpenSans-Regular';
$typography-h4-color:$text-color-h4;
$typography-h4-lineheight:1.2;

$typography-h5-size:18px;
$typography-h5-font:'OpenSans-Regular';
$typography-h5-color:$text-color-h5;
$typography-h5-lineheight:1.2;

$typography-h6-size:14px;
$typography-h6-font:'OpenSans-Regular';
$typography-h6-color:$text-color-h6;
$typography-h6-lineheight:1.2;

$typography-p-size:16px;
$typography-p-font:'OpenSans-Regular';
$typography-p-color:$text-color-p;
$typography-p-lineheight:1.4;

$typography-a-size:16px;
$typography-a-font:'OpenSans-Regular';
$typography-a-color:$text-color-a;
$typography-a-lineheight:1.2;

$typography-a-hover-size:16px;
$typography-a-hover-font:'OpenSans-Regular';
$typography-a-hover-color:$text-color-a-hover;
$typography-a-hover-lineheight:1.2;


$box-shadow-color:#999;
$box-shadow-x-offset:3px;
$box-shadow-y-offset:3px;
$box-shadow-blur:5px;
$box-shadow-spread:3px;
$box-shadow-inset:false;

.img-rollover.is-hovered {
	display: inline-block;
	position: relative;
	.img-rollover-effect {
		display: block;
		height:100%;
		width:100%;
		background:rgba(64,64,64,.7);
		position:absolute;
		top:0;
		left:0;
	}
}


$text-field-bg:#333;
$text-field-border-color:black;
$text-field-border-style:solid;
$text-field-border-width:2px;
$text-field-color:black;
$text-field-margin-top:3px;
$text-field-margin-bottom:5px;
$text-field-padding-top:3px;
$text-field-padding-right:0;
$text-field-padding-bottom:5px;
$text-field-padding-left:15px;

$textarea-bg:#333;
$textarea-border-color:black;
$textarea-border-style:solid;
$textarea-border-width:2px;
$textarea-color:black;
$textarea-margin-top:3px;
$textarea-margin-bottom:5px;
$textarea-padding-top:3px;
$textarea-padding-right:0;
$textarea-padding-bottom:5px;
$textarea-padding-left:15px;


$button-one:true;
$button-one-column-width:4;
$button-one-border-radius:10px;
$button-one-bg:red;
$button-one-border-color:black;
$button-one-border-width:1px;
$button-one-border-style:solid;
$button-one-color:white;
$button-one-font-family:'OpenSans-Regular';
$button-one-font-size:16px;
$button-one-line-height:1.5;
$button-one-padding-top:15px;
$button-one-padding-right:30px;
$button-one-padding-bottom:10px;
$button-one-padding-left:30px;

$button-two:true;
$button-two-column-width:2;
$button-two-border-radius:10px;
$button-two-bg:red;
$button-two-border-color:black;
$button-two-border-width:1px;
$button-two-border-style:solid;
$button-two-color:black;
$button-two-font-family:'OpenSans-Regular';
$button-two-font-size:24px;
$button-two-line-height:1.5;
$button-two-padding-top:15px;
$button-two-padding-right:30px;
$button-two-padding-bottom:10px;
$button-two-padding-left:30px;

$button-three:true;
$button-three-column-width:6 omega;
$button-three-border-radius:10px;
$button-three-bg:red;
$button-three-border-color:black;
$button-three-border-width:1px;
$button-three-border-style:solid;
$button-three-color:green;
$button-three-font-family:'OpenSans-Regular';
$button-three-font-size:24px;
$button-three-line-height:1.5;
$button-three-padding-top:15px;
$button-three-padding-right:30px;
$button-three-padding-bottom:10px;
$button-three-padding-left:30px;

$button-four:false;
$button-four-column-width:4 omega;
$button-four-border-radius:10px;
$button-four-bg:red;
$button-four-border-color:black;
$button-four-border-width:1px;
$button-four-border-style:solid;
$button-four-color:yellow;
$button-four-font-family:'OpenSans-Regular';
$button-four-font-size:24px;
$button-four-line-height:1.5;
$button-four-padding-top:15px;
$button-four-padding-right:30px;
$button-four-padding-bottom:10px;
$button-four-padding-left:30px;


$button-five:false;
$button-five-column-width:4 omega;
$button-five-border-radius:10px;
$button-five-bg:red;
$button-five-border-color:black;
$button-five-border-width:1px;
$button-five-border-style:solid;
$button-five-color:blue;
$button-five-font-family:'OpenSans-Regular';
$button-five-font-size:24px;
$button-five-line-height:1.5;
$button-five-padding-top:15px;
$button-five-padding-right:30px;
$button-five-padding-bottom:10px;
$button-five-padding-left:30px;




$alert-warning-bg:#F8FFB0;
$alert-warning-border-color:darken(yellow, 13%);
$alert-warning-border-width:1px;
$alert-warning-border-style:solid;
$alert-warning-border-radius:10px;
$alert-warning-header-color:black;
$alert-warning-header-border:black;
$alert-warning-header-font-size:20px;
$alert-warning-header-font-family:'OpenSans-Regular';
$alert-warning-header-line-height:1.6;
$alert-warning-header-padding-top:0;
$alert-warning-header-padding-right:0;
$alert-warning-header-padding-bottom:0;
$alert-warning-header-padding-left:0;
$alert-warning-copy-color:black;
$alert-warning-copy-font-size:16px;
$alert-warning-copy-font-family:'OpenSans-Regular';
$alert-warning-copy-line-height:1.3;
$alert-warning-copy-padding-top:0;
$alert-warning-copy-padding-right:0;
$alert-warning-copy-padding-bottom:0;
$alert-warning-copy-padding-left:0;

$alert-error-bg:#ffb0b0;
$alert-error-border-color:darken(red, 30%);
$alert-error-border-width:1px;
$alert-error-border-style:solid;
$alert-error-border-radius:10px;
$alert-error-header-color:black;
$alert-error-header-border:black;
$alert-error-header-font-size:20px;
$alert-error-header-font-family:'OpenSans-Regular';
$alert-error-header-line-height:1.6;
$alert-error-header-padding-top:0;
$alert-error-header-padding-right:0;
$alert-error-header-padding-bottom:0;
$alert-error-header-padding-left:0;
$alert-error-copy-color:black;
$alert-error-copy-font-size:16px;
$alert-error-copy-font-family:'OpenSans-Regular';
$alert-error-copy-line-height:1.3;
$alert-error-copy-padding-top:0;
$alert-error-copy-padding-right:0;
$alert-error-copy-padding-bottom:0;
$alert-error-copy-padding-left:0;

$alert-success-bg:rgba(18,255,133,1);
$alert-success-border-color:darken($alert-success-bg,30%);
$alert-success-border-width:1px;
$alert-success-border-style:solid;
$alert-success-border-radius:10px;
$alert-success-header-color:black;
$alert-success-header-border:black;
$alert-success-header-font-size:20px;
$alert-success-header-font-family:'OpenSans-Regular';
$alert-success-header-line-height:1.6;
$alert-success-header-padding-top:10px;
$alert-success-header-padding-right:0;
$alert-success-header-padding-bottom:5px;
$alert-success-header-padding-left:10px;
$alert-success-copy-color:black;
$alert-success-copy-font-size:16px;
$alert-success-copy-font-family:'OpenSans-Regular';
$alert-success-copy-line-height:1.3;
$alert-success-copy-padding-top:5px;
$alert-success-copy-padding-right:0;
$alert-success-copy-padding-bottom:5px;
$alert-success-copy-padding-left:10px;

$alert-info-bg:#B0F2FF;
$alert-info-border-color:darken(blue,30%);
$alert-info-border-width:1px;
$alert-info-border-style:solid;
$alert-info-border-radius:10px;
$alert-info-header-color:black;
$alert-info-header-border:black;
$alert-info-header-font-size:20px;
$alert-info-header-font-family:'OpenSans-Regular';
$alert-info-header-line-height:1.6;
$alert-info-header-padding-top:0;
$alert-info-header-padding-right:0;
$alert-info-header-padding-bottom:0;
$alert-info-header-padding-left:0;
$alert-info-copy-color:black;
$alert-info-copy-font-size:16px;
$alert-info-copy-font-family:'OpenSans-Regular';
$alert-info-copy-line-height:1.3;
$alert-info-copy-padding-top:0;
$alert-info-copy-padding-right:0;
$alert-info-copy-padding-bottom:0;
$alert-info-copy-padding-left:0;