@mixin load-font($name, $font-file-name){
	@font-face {
            font-family: $name;
            src: url('fonts/'$font-file-name'.eot');
            src: url('fonts/'$font-file-name'.eot?#iefix') format('embedded-opentype'),
             url('fonts/'$font-file-name'.woff') format('woff'),
             url('fonts/'$font-file-name'.ttf') format('truetype'),
             url('fonts/'$font-file-name'.svg#'$name) format('svg');
            font-weight: normal;
            font-style: normal;
        }
}